{%- liquid
  assign og_title = page_title | default: shop.name
  assign og_url = canonical_url | default: request.origin
  assign og_type = 'website'
  assign og_description = page_description | default: shop.description | default: shop.name

  if request.page_type == 'product'
    assign og_type = 'product'
  elsif request.page_type == 'article'
    assign og_type = 'article'
  elsif request.page_type == 'password'
    assign og_url = request.origin
  endif
%}

<meta property="og:site_name" content="{{ shop.name }}">
<meta property="og:url" content="{{ og_url }}">
<meta property="og:title" content="{{ og_title | escape }}">
<meta property="og:type" content="{{ og_type }}">
<meta property="og:description" content="{{ og_description | escape }}">

{%- if page_image -%}
  <meta property="og:image" content="http:{{ page_image | image_url }}">
  <meta property="og:image:secure_url" content="https:{{ page_image | image_url }}">
  <meta property="og:image:width" content="{{ page_image.width }}">
  <meta property="og:image:height" content="{{ page_image.height }}">
{%- endif -%}

{%- if request.page_type == 'product' -%}
  <meta property="og:price:amount" content="{{ product.price | money_without_currency | strip_html }}">
  <meta property="og:price:currency" content="{{ cart.currency.iso_code }}">
{%- endif -%}

{%- if settings.social_twitter_link != blank -%}
  <meta name="twitter:site" content="{{ settings.social_twitter_link | split: 'twitter.com/' | last | prepend: '@' }}">
{%- endif -%}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ og_title | escape }}">
<meta name="twitter:description" content="{{ og_description | escape }}">


{% comment %} <!-- HTML Meta Tags -->
<title>roxaaanne: universo creativo</title>
<meta name="description" content="descubre el universo de creaciones que nos habita y crea el tuyo conmigo">

  <!-- Facebook Meta Tags -->
<meta property="og:url" content="https://roxaaanne.com">
<meta property="og:type" content="website">
<meta property="og:title" content="roxaaanne: universo creativo">
<meta property="og:description" content="descubre el universo de creaciones que nos habita y crea el tuyo conmigo">
<meta property="og:image" content="https://cdn.shopify.com/s/files/1/0700/8623/0213/files/roxaaanne_meta_imagen.png?v=1760373224">

  <!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="roxaaanne.com">
<meta property="twitter:url" content="https://roxaaanne.com">
<meta name="twitter:title" content="roxaaanne: universo creativo">
<meta name="twitter:description" content="descubre el universo de creaciones que nos habita y crea el tuyo conmigo">
<meta name="twitter:image" content="https://cdn.shopify.com/s/files/1/0700/8623/0213/files/roxaaanne_meta_imagen.png?v=1760373224"> {% endcomment %}