<div class="bg-black bg-black flex flex-col justify-center items-center">
  <div class="flex flex-col justify-center items-center mt-32">
    <h1 class="text-[50px] text-white font-[100] leading-tight">{{ section.settings.title }}</h1>
    <div class="text-[50px] text-white font-[100] leading-tight">{{ section.settings.content }}</div>
  </div>

  <div class="grid grid-cols-2 md:grid-cols-4 gap-10 mt-20">
    {% for block in section.blocks %}
      <a
        class="text-white text-[23px] flex flex-col items-center gap-5 w-[300px] p-6 rounded-xl bg-white/10 backdrop-blur-md shadow-lg border border-white/20"
        href="{{ block.settings.creator__link }}"
        class="text-white">
        <div class="w-[200px] h-[200px] rounded-full overflow-hidden">
          <img
            class="w-full h-full object-cover"
            src="{{ block.settings.creator__image | image_url: width: master }}"
            alt="">
        </div>
        {{ block.settings.creator__name }}
      </a>
    {% endfor %}
  </div>

</div>

<style>
  .home__title strong {
    font-weight: 500;
  }

</style>

{% schema %}
  {
    "name": "Creators",
    "settings": [
      {
        "type": "richtext",
        "id": "title",
        "label": "Título"
      }, {
        "type": "richtext",
        "id": "content",
        "label": "Contenido"
      }
    ],
    "blocks": [
      {
        "type": "creator",
        "name": "Creator",
        "settings": [
          {
            "type": "image_picker",
            "id": "creator__image",
            "label": "Photo"
          }, {
            "type": "text",
            "id": "creator__name",
            "label": "Texto",
            "default": "Name"
          }, {
            "type": "url",
            "id": "creator__link",
            "label": "Link"
          }
        ]
      }

    ]
  }
{% endschema %}