<div>

  <h2 class="text-[40px] text-white font-[300] mb-2 md:mb-10">
    últimas publicaciones
  </h2>

  <div class="flex gap-10">
    <a href="/products/roxyfest" class="roxycounter min-h-[420px] w-[30%] flex flex-col justify-center items-center text-center py-6 px-4 rounded-xl">
      <h2 class="weird-font text-[70px] leading-[50px] font-bold mb-2">roxy<span class="opacity-50">fest</span>
      </h2>
      <div class="bg-white/10 p-3 shadow-xl rounded-xl border border-white  px-16 mt-8 py-2 rounded-full mt-3 min-w-[100px]">
        <h2 class="text-white font-[500]">edicion 2025</h2>
      </div>
      <div class="text-3xl mb-2 mt-3 flex jusitfy-center items-center">
        <p class="font-[200] text-[15px]">dedicado al sol 🌞</p>
      </div>
    </a>

    <!-- nuevo -->
    <div class="bg-black w-[70%] flex flex-col justify-center items-center md:px-0">
      <div class="w-full h-full container mx-auto">
        <div class="grid grid-cols-2 md:grid-cols-2 gap-7 md:gap-4 h-full">
          {% for block in section.blocks %}
            <a href="{{ block.settings.new_creation__link }}" class="flex justify-start items-start bg-white/10 gap-5 h-full gap-3 items-center rounded-xl">
              <div class="min-w-[120px] min-h-[120px] w-[120px] h-[120px] overflow-hidden rounded-xl ml-3">
                <img
                  src="{{ block.settings.new_creation__image | image_url: width: 300 }}"
                  alt="{{ block.settings.new_creation__title }}"
                  class="w-full h-full object-cover">
              </div>
              <div class="flex flex-col items-start">
                <p class="font-[500] text-[15px] md:text-[20px] leading-[18px] md:leading-[24px] text-white">{{ block.settings.new_creation__title }}</p>
                <p class="text-[#777] text-[13px] leading-[15px]">{{ block.settings.new_creation__subtitle }}</p>
              </div>
            </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

</div>


{% schema %}
  {
    "name": "Home",
    "settings": [
      {
        "type": "richtext",
        "id": "title",
        "label": "Título"
      }, {
        "type": "richtext",
        "id": "content",
        "label": "Contenido"
      }
    ],
    "blocks": [
      {
        "type": "new_creation",
        "name": "New Creation",
        "settings": [
          {
            "type": "image_picker",
            "id": "new_creation__image",
            "label": "Imagen"
          }, {
            "type": "text",
            "id": "new_creation__title",
            "label": "Título",
            "default": "Nueva creadora"
          }, {
            "type": "text",
            "id": "new_creation__subtitle",
            "label": "Subtítulo",
            "default": "por roxaaanne"
          }, {
            "type": "url",
            "id": "new_creation__link",
            "label": "Enlace"
          }
        ]
      }
    ]
  }
{% endschema %}