<div class="container mx-auto">


  <div class="w-full container mx-auto px-8 md:px-0">
    {% if section.settings.title != blank %}
      <h2 class="text-[27px] md:text-[40px] text-white font-medium tracking-tight mb-4">
        ¿quiénes somos?
      </h2>
    {% endif %}

    <div class="bg-white/10 text-white rounded-xl flex flex-col md:grid grid-cols-2 items-center md:items-start md:p-0 overflow-hidden">

      {% if section.settings.image %}
        <div>
          <img
            src="{{ section.settings.image | image_url: width: 1200 }}"
            alt="{{ section.settings.image.alt | escape }}"
            class="w-full h-full object-cover rounded-l-xl">
        </div>
      {% endif %}


      <div class="flex flex-col justify-center items-start h-full p-4 md:p-8">
        {% if section.settings.title != blank %}
          <h2 class="text-[27px] md:text-[40px] text-white font-medium tracking-tight mb-4">
            {{ section.settings.title }}
          </h2>
        {% endif %}


        {% if section.settings.description %}
          <p class="text-white text-2xl leading-relaxed pt-8 px-8">{{ section.settings.description }}</p>
        {% endif %}

        <div class="w-full flex gap-4 mb-8 p-8">
          {% if section.settings.button_one_text and section.settings.button_one_url %}
            <a href="{{ section.settings.button_one_url }}" class="w-full h-fit text-center border border-white rounded-lg py-3 hover:bg-white/10 transition-colors duration-200">
              {{ section.settings.button_one_text }}
            </a>
          {% endif %}

          {% if section.settings.button_two_text and section.settings.button_two_url %}
            <a href="{{ section.settings.button_two_url }}" class="w-full h-fit text-center bg-white text-black rounded-xl py-3 hover:bg-gray-200 transition-colors duration-200">
              {{ section.settings.button_two_text }}
            </a>
          {% endif %}
        </div>
      </div>

    </div>

  </div>
</div>


{% schema %}
  {
    "name": "Home About",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "text",
        "id": "pricing_title",
        "label": "Título - Pricing",
        "default": "precios"
      },
      {
        "type": "textarea",
        "id": "pricing_description",
        "label": "Descripción - Pricing",
        "default": "crear un perfil es gratis. si quieres crear un perfil puedes ingresar acá o te podemos ayudar enviando un correo a info@roxaaanne.com"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Título",
        "default": "somos ~ eres"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Imagen"
      }, {
        "type": "textarea",
        "id": "description",
        "label": "Descripción",
        "default": "aquí compartimos lo que somos, lo que hacemos y lo que amamos, si quieres compartir también puedes hacerlo acá o si quieres solo explorar empezar te recomendamos que vayas a la lista de creadores, todos son universos creativos y tu también lo eres"
      }, {
        "type": "text",
        "id": "button_one_text",
        "label": "Texto del botón",
        "default": "Leer más"
      }, {
        "type": "url",
        "id": "button_one_url",
        "label": "URL del botón"
      }, {
        "type": "text",
        "id": "button_two_text",
        "label": "Texto del segundo botón",
        "default": "Leer más"
      }, {
        "type": "url",
        "id": "button_two_url",
        "label": "URL del segundo botón"
      }
    ],
    "presets": [
      {
        "name": "Home About"
      }
    ]
  }
{% endschema %}