<div class="container mx-auto px-8 mt-4 md:px-1">

  <div class="flex flex-col mb-10">
    {% comment %} EVENTOS TITULO {% endcomment %}
    {% if section.settings.events_title != blank %}
      <h2 class="text-[27px] md:text-[40px] text-white font-medium mb-6 md:mb-7">
        {{ section.settings.events_title }}
      </h2>
    {% endif %}

    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 mb-10 md:mb-16">
      {% comment %} EVENTOS {% endcomment %}
      <div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
          {% for block in section.blocks %}
            {% case block.type %}
              {% when 'event' %}
                <div class="flex flex-col gap-3 {% if block.settings.muted %}opacity-50{% endif %}" {{ block.shopify_attributes }}>
                  {% if block.settings.artist != blank %}
                    <p class="text-4xl">{{ block.settings.artist }}</p>
                  {% endif %}
                  <div class="flex gap-5">
                    <div class="flex justify-center items-center bg-[#2A2A2A] text-white flex flex-col px-8 py-4 rounded-xl min-w-[78px] h-fit">
                      <h3 class="text-white text-[30px] leading-[30px] font-medium">{{ block.settings.day }}</h3>
                      <h4 class="text-white">{{ block.settings.month }}</h4>
                    </div>
                    <div class="flex flex-col">
                      {% if block.settings.title != blank %}
                        <p class="text-2xl">{{ block.settings.title }}</p>
                      {% endif %}
                      {% if block.settings.location != blank %}
                        <p class="text-[#B3B3B3] text-2xl">{{ block.settings.location }}</p>
                      {% endif %}
                    </div>
                  </div>
                </div>
            {% endcase %}
          {% endfor %}
        </div>

        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'events_cta' %}
              <div class="" {{ block.shopify_attributes }}>
                <a href="{{ block.settings.cta_url }}" class="block border border-white shadow-md rounded-xl text-center mt-4 md:mt-3 h-fit py-3">
                  {{ block.settings.cta_text }}
                </a>
              </div>
          {% endcase %}
        {% endfor %}
      </div>

      {% comment %} VOLTAJE {% endcomment %}
      <div class="rounded-md text-center flex flex-col justify-center items-center" style="background-color: #2EFF05">
        {% if section.settings.discover_primary_text != blank %}
          <h3 class="stalinist-one-regular text-black text-[21vw] leading-[20vw] md:text-[70px] md:leading-[70px] font-bold m-0">VOLTAJE</h3>
          <p class="stalinist-one-regular text-black text-[3.3vw] leading-[20px] md:text-[21px] mb-0">LABORATORIO DE SÍNTESIS</p>
        {% endif %}
        {% if section.settings.discover_secondary_text != blank %}
          <p class="stalinist-one-regular text-black text-[3.3vw] leading-[17px] md:text-[14px] mt-4">28 DE NOVIEMBRE | 7:00 PM | CARAMALA</p>
        {% endif %}
        <div class="flex gap-3">
          <a href="/pages/voltaje#registro" class="stalinist-one-regular text-xl text-black mt-5 border-2 border-black w-fit p-4 rounded-xl hover:border-3">REGISTRO</a>
          <a href="/pages/voltaje" class="stalinist-one-regular text-xl bg-black text-[#2EFF05] mt-5 border-2 border-black w-fit p-4 rounded-xl">VER MAS</a>
        </div>

      </div>
    </div>
  </div>

  <div class="flex flex-col mb-10">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 min-h-[50vh]">

      <div class="h-full flex flex-col">
        {% if section.settings.discover_title != blank %}
          <h2 class="text-[27px] md:text-[40px] text-white font-medium mb-4 md:mb-7">
            {{ section.settings.discover_title }}
          </h2>
        {% endif %}
        <div class="rounded-md text-center flex-1 flex flex-col justify-center" style="background-color: {{ section.settings.discover_bg_color | default: '#FEFFEE' }}">
          {% if section.settings.discover_primary_text != blank %}
            <h3 class="josefin-sans-title text-black text-[21vw] leading-[24vw] md:text-[120px] md:leading-[100px] font-bold m-0">{{ section.settings.discover_primary_text }}</h3>
          {% endif %}
          {% if section.settings.discover_secondary_text != blank %}
            <p class="josefin-sans-title text-black text-[3.3vw] leading-[1.3vw] md:text-[19px]">{{ section.settings.discover_secondary_text }}</p>
          {% endif %}
          <div class="flex justify-center gap-3">
            <a href="/pages/lacra" class="josefin-sans-title text-[17px] leading-[16px] text-black mt-5 border-2 border-black w-fit px-4 py-5 pb-4 h-fit rounded-xl">PROYECTOS</a>
            <a href="/pages/lacra" class="josefin-sans-title text-[17px] leading-[16px] bg-black text-[#FEFFEE] mt-5 border-2 border-black w-fit px-4 py-5 pb-4 h-fit rounded-xl">MERCA</a>
          </div>
        </div>
      </div>


      <div class="h-full flex flex-col">
        {% if section.settings.discover_title != blank %}
          <h2 class="text-[27px] md:text-[40px] text-white font-medium mb-4 md:mb-7">
            creadores
          </h2>
        {% endif %}
        <div class="grid grid-cols-2 md:grid-cols-4 gap-4 md:gap-7 flex-1 bg-white/10 rounded-3xl px-5 py-7">
          {% for block in section.blocks %}
            {% if block.type == 'new_creation' %}
              <a
                href="{{ block.settings.new_creation__link }}"
                class="flex flex-col justify-start items-start h-full gap-x-3 gap-y-7 items-center rounded-xl"
                {{ block.shopify_attributes }}>
                <div class="w-full w-48 h-48 overflow-hidden rounded-full">
                  <img
                    src="{{ block.settings.new_creation__image | image_url: width: 300 }}"
                    alt="{{ block.settings.new_creation__title }}"
                    class="w-full h-full object-cover"
                    width="300"
                    height="300">
                </div>
              </a>
            {% endif %}
          {% endfor %}
        </div>
      </div>

    </div>
  </div>


</div>


<style>

  .roxyhome {
    background: linear-gradient(180deg, #0F0C3B 0%, #403B88 45%, #F28B2B 100%);
    color: #fff;
  }

  .roxycounter {
    background-image: url('https://cdn.shopify.com/s/files/1/0700/8623/0213/files/counter.png?v=1748993160');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }


  .home__title strong {
    font-weight: 400;
    line-height: 70px;
  }
  .home__title p {
    font-weight: 100;
    line-height: 70px;
  }

  @media (max-width: 480px) {
    .home__title p {
      font-weight: 100;
      line-height: 40px;
    }
  }
</style>
<style>
  .josefin-sans-title {
    font-family: "Josefin Sans"
    , sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

  .stalinist-one-regular {
    font-family: "Stalinist One"
    , sans-serif;
  }
</style>
<script>
  const countdown = () => {
    const targetDate = new Date("June 21, 2025 00:00:00").getTime();
    const now = new Date().getTime();
    const distance = targetDate - now;

    if (distance < 0) return;

    const days = Math.floor(distance / (1000 * 60 * 60 * 24));
    const hours = Math.floor((distance / (1000 * 60 * 60)) % 24);
    const minutes = Math.floor((distance / (1000 * 60)) % 60);
    const seconds = Math.floor((distance / 1000) % 60);

    document.getElementById("days").innerText = days;
    document.getElementById("hours").innerText = hours.toString().padStart(2, '0');
    document.getElementById("minutes").innerText = minutes.toString().padStart(2, '0');
    document.getElementById("seconds").innerText = seconds.toString().padStart(2, '0');
  };

  setInterval(countdown, 1000);
  countdown();
</script>
{% schema %}
  {
    "name": "Home",
    "settings": [
      {
        "type": "text",
        "id": "events_title",
        "label": "Título - Eventos",
        "default": "eventos"
      },
      {
        "type": "text",
        "id": "discover_title",
        "label": "Título - Descubre",
        "default": "descubre"
      },
      {
        "type": "text",
        "id": "discover_primary_text",
        "label": "Texto Principal - Descubre",
        "default": "LACRA"
      },
      {
        "type": "text",
        "id": "discover_secondary_text",
        "label": "Texto Secundario - Descubre",
        "default": "LABORATORIO CREATIVO AUDIOVISUAL"
      }, {
        "type": "color",
        "id": "discover_bg_color",
        "label": "Color de fondo - Descubre",
        "default": "#FEFFEE"
      }, {
        "type": "url",
        "id": "discover_link_url",
        "label": "URL de Descubre (opcional)"
      }, {
        "type": "text",
        "id": "latest_title",
        "label": "Título - Últimas publicaciones",
        "default": "últimas publicaciones"
      }
    ],
    "blocks": [
      {
        "type": "event",
        "name": "Evento",
        "settings": [
          {
            "type": "text",
            "id": "artist",
            "label": "Artista / Organizador",
            "default": "Nombre"
          },
          {
            "type": "text",
            "id": "day",
            "label": "Día",
            "default": "01"
          },
          {
            "type": "text",
            "id": "month",
            "label": "Mes (abr, may)",
            "default": "ene"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Título del evento",
            "default": "Título del evento"
          }, {
            "type": "text",
            "id": "location",
            "label": "Ubicación",
            "default": "Ciudad, País • Lugar"
          }, {
            "type": "checkbox",
            "id": "muted",
            "label": "Atenuar (50% opacidad)",
            "default": false
          }
        ]
      }, {
        "type": "events_cta",
        "name": "CTA Eventos",
        "settings": [
          {
            "type": "text",
            "id": "cta_text",
            "label": "Texto CTA",
            "default": "solicitar un evento +"
          }, {
            "type": "url",
            "id": "cta_url",
            "label": "URL CTA"
          }
        ]
      }, {
        "type": "new_creation",
        "name": "New Creation",
        "settings": [
          {
            "type": "image_picker",
            "id": "new_creation__image",
            "label": "Imagen"
          }, {
            "type": "text",
            "id": "new_creation__title",
            "label": "Título",
            "default": "Nueva creadora"
          }, {
            "type": "text",
            "id": "new_creation__subtitle",
            "label": "Subtítulo",
            "default": "por roxaaanne"
          }, {
            "type": "url",
            "id": "new_creation__link",
            "label": "Enlace"
          }
        ]
      }
    ]
  }
{% endschema %}