<div class="container mx-auto grid grid-cols-1 md:grid-cols-3 md:gap-8">

  <a href="/pages/roxyfest" class="col-span-1 roxycounter min-h-[420px] w-full flex flex-col justify-center items-center text-center py-6 px-4 rounded-xl">
    <h2 class="weird-font text-[70px] leading-[50px] font-bold mb-2">roxy<span class="opacity-50">fest</span>
    </h2>
    <div class="bg-white/10 p-3 shadow-xl rounded-xl border border-white  px-16 mt-8 py-2 rounded-full mt-3 min-w-[100px]">
      <h2 class="text-white font-[500]">edicion 2025</h2>
    </div>
    <div class="text-3xl mb-2 mt-3 flex jusitfy-center items-center">
      <p class="font-[200] text-[15px]">dedicado al sol 游</p>
    </div>
  </a>


  <div class="col-span-2 mx-8 md:container md:mx-auto">
    {% if section.settings.title != blank %}
      <h2 class="text-[27px] md:text-[40px] text-white font-medium tracking-tight mb-4">
        {{ section.settings.title }}
      </h2>
    {% endif %}


    <div class="md:container md:mx-auto bg-white/10 text-white rounded-xl">
      {% if section.settings.image %}
        <div class="mb-4">
          <img
            src="{{ section.settings.image | image_url: width: 1200 }}"
            alt="{{ section.settings.image.alt | escape }}"
            class="w-full h-[200px] object-cover rounded-t-xl"
            width="1200"
            height="400">
        </div>
      {% endif %}

      {% if section.settings.description %}
        <p class="text-white text-2xl leading-relaxed pt-8 px-8">{{ section.settings.description }}</p>
      {% endif %}

      <div class="flex gap-4 mb-8 p-8">
        {% if section.settings.button_one_text and section.settings.button_one_url %}
          <a href="{{ section.settings.button_one_url }}" class="w-full h-fit text-center border border-white rounded-lg py-3 hover:bg-white/10 transition-colors duration-200">
            {{ section.settings.button_one_text }}
          </a>
        {% endif %}

        {% if section.settings.button_two_text and section.settings.button_two_url %}
          <a href="{{ section.settings.button_two_url }}" class="w-full h-fit text-center bg-white text-black rounded-xl py-3 hover:bg-gray-200 transition-colors duration-200">
            {{ section.settings.button_two_text }}
          </a>
        {% endif %}
      </div>
    </div>

  </div>
</div>


{% schema %}
  {
    "name": "Home About",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "text",
        "id": "pricing_title",
        "label": "T칤tulo - Pricing",
        "default": "precios"
      },
      {
        "type": "textarea",
        "id": "pricing_description",
        "label": "Descripci칩n - Pricing",
        "default": "crear un perfil es gratis. si quieres crear un perfil puedes ingresar ac치 o te podemos ayudar enviando un correo a info@roxaaanne.com"
      },
      {
        "type": "text",
        "id": "title",
        "label": "T칤tulo",
        "default": "somos - eres"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Imagen"
      }, {
        "type": "textarea",
        "id": "description",
        "label": "Descripci칩n",
        "default": "aqu칤 compartimos lo que somos, lo que hacemos y lo que amamos, si quieres compartir tambi칠n puedes hacerlo ac치 o si quieres solo explorar empezar te recomendamos que vayas a la lista de creadores, todos son universos creativos y tu tambi칠n lo eres"
      }, {
        "type": "text",
        "id": "button_one_text",
        "label": "Texto del bot칩n",
        "default": "Leer m치s"
      }, {
        "type": "url",
        "id": "button_one_url",
        "label": "URL del bot칩n"
      }, {
        "type": "text",
        "id": "button_two_text",
        "label": "Texto del segundo bot칩n",
        "default": "Leer m치s"
      }, {
        "type": "url",
        "id": "button_two_url",
        "label": "URL del segundo bot칩n"
      }
    ],
    "presets": [
      {
        "name": "Home About"
      }
    ]
  }
{% endschema %}