<div class="relative bg-black bg-black flex flex-col justify-end items-center md:items-end">
  <div class="absolute top-[-20px] w-full z-0">
    <div class="relative flex items-center justify-center">
      <img
        class="absolute z-40 top-[-100px] w-[180px] md:top-[auto] left-[-60px] md:w-[420px]"
        src="https://cdn.shopify.com/s/files/1/0700/8623/0213/files/1.svg?v=1746582688"
        alt="">
      <img
        class="absolute z-30 top-[-150px] w-[280px] md:top-[auto] left-[-120px] md:w-[570px]"
        src="https://cdn.shopify.com/s/files/1/0700/8623/0213/files/2.svg?v=1746582688"
        alt="">
      <img
        class="absolute z-20 top-[-193px] w-[370px] md:top-[auto] left-[-170px] md:w-[720px]"
        src="https://cdn.shopify.com/s/files/1/0700/8623/0213/files/3.svg?v=1746582688"
        alt="">
      <img
        class="absolute hidden md:flex z-10 top-[-250px] w-[480px] md:top-[auto] left-[-260px] md:w-[920px] md:rotate-90"
        src="https://cdn.shopify.com/s/files/1/0700/8623/0213/files/4.svg?v=1746582688"
        alt=""></div>
  </div>
  <div class="container mx-auto flex flex-col justify-center items-center md:items-end mb-[113px] mt-[190px]">
    <div>
      <h1 class="home__title weird-font text-white text-[80px] md:text-[114px] tracking-tight leading-[114px]">{{ section.settings.title }}</h1>
      <div class="text-[35px] leading-[35px] md:text-[51px] text-white font-[100] md:leading-[50px]">{{ section.settings.content }}</div>
      <div class="flex gap-3 text-center mt-4">
        <a class="border rounded-xl w-full py-3 md:py-4 font-medium" href="/pages/creadores">explora</a>
        <a class="bg-white rounded-xl w-full py-3 md:py-4 font-medium text-black" href="/pages/creadores">crear perfil</a>
      </div>
    </div>
  </div>


  <div class="container mx-auto px-8 mt-4 md:px-4">


    <div class="grid grid-cols-2 gap-20 mb-12">


      <div class="cols-span-1">
        <h2 class="text-[40px] text-white font-[300] mb-2 md:mb-7">
          eventos
        </h2>

        <div>
          <div class="grid grid-cols-2 ">
            <div class="flex flex-col gap-3 opacity-50">
              <p class="text-4xl">cristian dussán</p>
              <div class="flex gap-5">
                <div class="flex justify-center items-center bg-[#2A2A2A] text-white flex flex-col px-8 py-4 rounded-xl min-w-[70px] h-fit">
                  <h3 class="text-white text-[30px] leading-[30px] font-medium">15</h3>
                  <h4 class="text-white">sep</h4>
                </div>
                <div class="flex flex-col">
                  <p class="text-2xl">Acompañar es Amar</p>
                  <p class="text-[#B3B3B3] text-2xl">
                    Quito, Ecuador • Casa Palenque</p>
                </div>
              </div>
            </div>
            <div class="flex flex-col gap-3">
              <p class="text-4xl">Felipe Quien</p>
              <div class="flex gap-5">
                <div class="flex justify-center items-center bg-[#2A2A2A] text-white flex flex-col px-8 py-4 rounded-xl min-w-[70px] h-fit">
                  <h3 class="text-white text-[30px] leading-[30px] font-medium">15</h3>
                  <h4 class="text-white">sep</h4>
                </div>
                <div class="flex flex-col">
                  <p class="text-2xl">Acompañar es Amar</p>
                  <p class="text-[#B3B3B3] text-2xl">
                    Quito, Ecuador • Casa Palenque</p>
                </div>
              </div>
            </div>
            <div class="flex flex-col gap-3">
              <p class="text-4xl">LACRA</p>
              <div class="flex gap-5">
                <div class="flex justify-center items-center bg-[#2A2A2A] text-white flex flex-col px-8 py-4 rounded-xl min-w-[70px] h-fit">
                  <h3 class="text-white text-[30px] leading-[30px] font-medium">15</h3>
                  <h4 class="text-white">sep</h4>
                </div>
                <div class="flex flex-col">
                  <p class="text-2xl">Acompañar es Amar</p>
                  <p class="text-[#B3B3B3] text-2xl">
                    Quito, Ecuador • Casa Palenque</p>
                </div>
              </div>
            </div>
            <div class="">
              <div class="bg-[#2A2A2A] shadow-md rounded-xl text-center mt-12 h-fit">
                <p class="py-8">solicitar un evento +</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="cols-span-2">
        <h2 class="text-[40px] text-white font-[300] mb-2 md:mb-7">
          descubre
        </h2>

        <img
          src="https://cdn.shopify.com/s/files/1/0700/8623/0213/files/lacra.png?v=1758247093"
          alt=""
          class="rounded-md">
      </div>


    </div>


    {% comment %} roxy fest {% endcomment %}
    <div>
      <h2 class="text-[40px] text-white font-[300] mb-2 md:mb-10">
        últimas publicaciones
      </h2>

      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10">
        <a href="/products/roxyfest" class="col-span-1 roxycounter min-h-[420px] w-full flex flex-col justify-center items-center text-center py-6 px-4 rounded-xl">
          <h2 class="weird-font text-[70px] leading-[50px] font-bold mb-2">roxy<span class="opacity-50">fest</span>
          </h2>
          <div class="bg-white/10 p-3 shadow-xl rounded-xl border border-white  px-16 mt-8 py-2 rounded-full mt-3 min-w-[100px]">
            <h2 class="text-white font-[500]">edicion 2025</h2>
          </div>
          <div class="text-3xl mb-2 mt-3 flex jusitfy-center items-center">
            <p class="font-[200] text-[15px]">dedicado al sol 🌞</p>
          </div>
        </a>

        <div class="bg-black col-span-2 w-full flex flex-col justify-center items-center md:px-0">
          <div class="w-full h-full container mx-auto">
            <div class="grid grid-cols-2 md:grid-cols-2 gap-7 md:gap-4 h-full">
              {% for block in section.blocks %}
                <a href="{{ block.settings.new_creation__link }}" class="flex justify-start items-start bg-white/10 gap-5 h-full gap-3 items-center rounded-xl">
                  <div class="min-w-[120px] min-h-[120px] w-[120px] h-[120px] overflow-hidden rounded-xl ml-3">
                    <img
                      src="{{ block.settings.new_creation__image | image_url: width: 300 }}"
                      alt="{{ block.settings.new_creation__title }}"
                      class="w-full h-full object-cover">
                  </div>
                  <div class="flex flex-col items-start">
                    <p class="font-[500] text-[15px] md:text-[20px] leading-[18px] md:leading-[24px] text-white">{{ block.settings.new_creation__title }}</p>
                    <p class="text-[#777] text-[13px] leading-[15px]">{{ block.settings.new_creation__subtitle }}</p>
                  </div>
                </a>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
{% comment %} v.24   pricing{% endcomment %}
{% comment %}
  <div>
  <div class="">
  <h1>jardin</h1>
  </div>
  <div class="">
  <h1>bosque</h1>
  </div>
  <div class="">
  <h1>creador</h1>
  </div>
  </div>
{% endcomment %}


</div>

<style>

  .roxyhome {
    background: linear-gradient(180deg, #0F0C3B 0%, #403B88 45%, #F28B2B 100%);
    color: #fff;
  }

  .roxycounter {
    background-image: url('https://cdn.shopify.com/s/files/1/0700/8623/0213/files/counter.png?v=1748993160');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }


  .home__title strong {
    font-weight: 400;
    line-height: 70px;
  }
  .home__title p {
    font-weight: 100;
    line-height: 70px;
  }

  @media (max-width: 480px) {
    .home__title p {
      font-weight: 100;
      line-height: 40px;
    }
  }

</style>

<script>
  const countdown = () => {
    const targetDate = new Date("June 21, 2025 00:00:00").getTime();
    const now = new Date().getTime();
    const distance = targetDate - now;

    if (distance < 0) return;

    const days = Math.floor(distance / (1000 * 60 * 60 * 24));
    const hours = Math.floor((distance / (1000 * 60 * 60)) % 24);
    const minutes = Math.floor((distance / (1000 * 60)) % 60);
    const seconds = Math.floor((distance / 1000) % 60);

    document.getElementById("days").innerText = days;
    document.getElementById("hours").innerText = hours.toString().padStart(2, '0');
    document.getElementById("minutes").innerText = minutes.toString().padStart(2, '0');
    document.getElementById("seconds").innerText = seconds.toString().padStart(2, '0');
  };

  setInterval(countdown, 1000);
  countdown();
</script>

{% schema %}
  {
    "name": "Home",
    "settings": [
      {
        "type": "richtext",
        "id": "title",
        "label": "Título"
      }, {
        "type": "richtext",
        "id": "content",
        "label": "Contenido"
      }
    ],
    "blocks": [
      {
        "type": "new_creation",
        "name": "New Creation",
        "settings": [
          {
            "type": "image_picker",
            "id": "new_creation__image",
            "label": "Imagen"
          }, {
            "type": "text",
            "id": "new_creation__title",
            "label": "Título",
            "default": "Nueva creadora"
          }, {
            "type": "text",
            "id": "new_creation__subtitle",
            "label": "Subtítulo",
            "default": "por roxaaanne"
          }, {
            "type": "url",
            "id": "new_creation__link",
            "label": "Enlace"
          }
        ]
      }
    ]
  }
{% endschema %}