<div class="container mx-auto px-8 md:px-10">

  {% if section.settings.hero_image != blank %}
    <img
      src="{{ section.settings.hero_image | image_url: width: 2000 }}"
      alt="{{ section.settings.title | escape }}"
      class="w-full h-auto mb-6">
  {% else %}
    <img
      src="https://cdn.shopify.com/s/files/1/0700/8623/0213/files/flyerfinal2025.jpg?v=1760030715"
      alt="{{ section.settings.title | escape }}"
      class="w-full h-auto mb-6">
  {% endif %}


  <div class="w-full flex flex-col justify-center items-center">
    {% if section.settings.title != blank %}
      <h1 class="text-5xl md:text-7xl font-semibold text-center text-[#feffee] mb-3 mt-10 ">
        {{ section.settings.title }}
      </h1>
    {% endif %}

    {% if section.settings.intro != blank %}
      <p class="text-[#feffee] text-center text-[17px] md:text-[20px] mb-5 md:w-[70%]">
        {{ section.settings.intro }}
      </p>
    {% endif %}
  </div>


  <!-- Artistas -->
  {% if section.settings.cantautorxs_title != blank %}
    <h2 class="text-3xl md:text-5xl font-semibold text-[#feffee] mb-6 mt-12 md:mt-24 text-center">
      {{ section.settings.cantautorxs_title }}
    </h2>
  {% endif %}
  <div class="flex flex-wrap gap-4 justify-center">
    {% for block in section.blocks %}
      {% if block.type == 'cantautorxs' %}
        <div {{ block.shopify_attributes }}>
          {% if block.settings.artist_name != blank %}
            {% if block.settings.url != blank %}
              <a href="{{ block.settings.url }}" class="block bg-[#feffee] text-black text-[17px] md:text-[23px] px-4 py-3 border-2 border-[#feffee] rounded-lg hover:bg-transparent hover:text-[#feffee] transition-colors uppercase text-center">
                {{ block.settings.artist_name }}
              </a>
            {% else %}
              <p class="text-[#feffee]/60 text-[17px] md:text-[23px] px-4 py-3 border-2 border-[#feffee]/30 rounded-lg uppercase text-center">
                {{ block.settings.artist_name }}
              </p>
            {% endif %}
          {% endif %}
        </div>
      {% endif %}
    {% endfor %}
  </div>

  <!-- Producción -->
  {% if section.settings.produccion_title != blank %}
    <h2 class="text-3xl md:text-5xl font-semibold text-[#feffee] mb-6 mt-12 md:mt-24 text-center">
      {{ section.settings.produccion_title }}
    </h2>
  {% endif %}
  <div class="flex flex-wrap gap-4 justify-center">
    {% for block in section.blocks %}
      {% if block.type == 'produccion' %}
        <div {{ block.shopify_attributes }}>
          {% if block.settings.names != blank %}
            <div class="text-[#feffee]/60 px-8 py-2 border-2 border-[#feffee]/30 rounded-lg w-fit text-center">
              {% if block.settings.role != blank %}
                <p class="text-[10px] md:text-[12px] opacity-70 break-words max-w-full">{{ block.settings.role }}</p>
              {% endif %}
              <p class="text-[14px] md:text-[20px]">{{ block.settings.names }}</p>
            </div>
          {% endif %}
        </div>
      {% endif %}
    {% endfor %}
  </div>

</div>

<style>
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
</style>

{% schema %}
  {
    "name": "Roxy Fest",
    "tag": "section",
    "class": "section roxyfest",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Título",
        "default": "Roxy Fest 2025"
      },
      {
        "type": "image_picker",
        "id": "hero_image",
        "label": "Imagen principal"
      },
      {
        "type": "textarea",
        "id": "intro",
        "label": "Texto intro",
        "default": "Muchas gracias por ser parte de Roxy Fest, edición 2025; estos fueron unos de los mejores momentos."
      },
      {
        "type": "text",
        "id": "cantautorxs_title",
        "label": "Título Artistas",
        "default": "CANTAUTORXS"
      }, {
        "type": "text",
        "id": "produccion_title",
        "label": "Título Producción",
        "default": "PRODUCCIÓN"
      }
    ],
    "blocks": [
      {
        "type": "produccion",
        "name": "Producción",
        "settings": [
          {
            "type": "text",
            "id": "role",
            "label": "Cargo/Rol"
          }, {
            "type": "text",
            "id": "names",
            "label": "Nombres"
          }
        ]
      }, {
        "type": "cantautorxs",
        "name": "Cantautorxs",
        "settings": [
          {
            "type": "text",
            "id": "artist_name",
            "label": "Nombre del/la cantautor/a"
          }, {
            "type": "url",
            "id": "url",
            "label": "URL (perfil o artículo)"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Roxy Fest",
        "category": "Custom"
      }
    ]
  }
{% endschema %}